<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<style>
  .d-none {
    display: none;
  }
</style>
<body>

  <form id="form_register">
    <fieldset>
      <legend>방명록 등록</legend>
      <input type="hidden" name="id">
      이름: <input type="text" placeholder="사용자 이름" name="name"><br>
      방명록: <input type="text" placeholder="사용자 이름" name="comment"><br>
      <div class="update-btn d-none">
        <button type="button" onclick="update_visitor()">수정</button>
        <button type="button" onclick="">취소</button>
      </div>
      <div class="register-btn">
        <button type="button" onclick="register()">등록</button>
      </div>
     

    </fieldset>
  </form>

  <table border="1" cellspacing="0" cellpadding="5" style="margin-top: 50px;">
    <thead>
      <tr>
        <th>ID</th>
        <th>작성자</th>
        <th>방명록</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
    </thead>
    <tbody>
      <%for(let i=0; i<data.length; i++) {%>
        <tr>
          <td><%=data[i].id%></td>
          <td><%=data[i].name%></td>
          <td><%=data[i].comment%></td>
          <td><button type="button" onclick="update_load(`<%=data[i].id%>`, this)">수정</button></td>
          <td><button type="button" onclick="delete_visitor(`<%=data[i].id%>`, this)">삭제</button></td> 
        </tr>
      <%}%>
    </tbody>
  </table>

  <script>
    let update_tr;

    function update_visitor(){
      var form = document.getElementById('form_register');

      axios({
        method: 'patch',
        url: '/visitor/update',
        data: {
          id: form.id.value,
          name: form.name.value,
          comment: form.comment.value,
        }
      })
      .then((res) => {
        update_tr.children[1].innerText = form.name.value
        update_tr.children[2].innerText = form.comment.value

        console.log(res);
        form.id.value = '';
        form.name.value = '';
        form.comment.value = '';
        $('.update-btn').addClass('d-none')
        $('.register-btn').removeClass('d-none');
      })
    }

    function update_load(id, element){
      console.log(id)
      axios({
        method: 'get',
        url: '/visitor/get_visitor',
        params: {id: id}
      })
      .then((res) => {
        console.log(res);
        var form = document.getElementById('form_register');
        form.id.value = res.data.id;
        form.name.value = res.data.name;
        form.comment.value = res.data.comment;
        $('.update-btn').removeClass('d-none')
        $('.register-btn').addClass('d-none')

        update_tr = element.parentElement.parentElement;
      })
    }

    function register(){
      let form = document.getElementById('form_register');
      let data = {
        name:form.name.value,
        comment:form.comment.value
      }
      axios({
        method: 'post',
        url: '/visitor/register',
        data: data
      })
      .then((res) => {
        console.log(res);
        $('tbody').append(`
          <tr>
            <td>${res.data}</td>
            <td>${data.name}</td>
            <td>${data.comment}</td>
            <td><button type='button'>수정</button></td>
            <td><button type='button' onclick="delete_visitor(${res.data}, this)">삭제</button></td>
          </tr>
        `)
      })
      .catch((err) => {
        console.error(err);
      })
    }

    function delete_visitor(delete_id, element){
      console.log(delete_id);
      axios({
        method: 'delete',
        url: '/visitor/delete',
        data: {id : delete_id}
      })
      .then((res) => {
        element.parentElement.parentElement.remove();
      })
    }
  </script>
  
</body>
</html>